spring:
  application:
    name: AcpTutorial

info:
  app:
    name: AcpTutorial
    description: This is the ACP Tutorial Rest Service
    version: 1.0

management:
  endpoints:
    web:
      exposure:
        include: info, health, env
  info:
    env:
      enabled: true

  endpoint:
    health:
      show-details: always
      probes:
        enabled: true


logging:
  level:
    web: debug

springdoc:
  api-docs:
    enabled: true

server:
  port: 8080


acp:
  # ilp-endpoint: https://ilp-rest-2025-all-assigned.azurewebsites.net/ABC
